body, html {
  margin: 0; padding: 0;
  scroll-behavior: smooth;
}

main {
  margin-top: 60px;
}

.section-home {
  height: 100vh;
  
}

.section-about,
.section-exp {
  padding: 4rem 1rem;
}


@media (max-width: 768px) {
  .sidebar-social {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    gap: 1rem;
  }
}
